<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body data-page="dashboard">
    <div class="ui grid container">

        <div class="ui main grid">

            <h1>jdbc complex content</h1>

            <table class="ui very basic striped celled table">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Venue Name</th>
                    <th>Event Name</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="venue : ${venues}" th:object="${venue}">
                        <td th:text="*{'#' + id}">Item #1</td>
                        <td th:text="*{name}">Venue Name</td>
                        <td >
                            <ul>
                                <li th:each="event: *{events}" th:object="${event}">
                                    <span th:text="*{name}"></span>
                                    (<span th:each="eventCategory: *{eventCategories}" th:object="${eventCategory}" th:text="*{name + ' '}"></span>)
                                </li>
                            </ul>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>