<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body data-page="dashboard">
    <div class="ui grid container">

        <div class="ui main grid">

            <h1>jdbc complex content</h1>

            <table class="ui very basic striped celled table">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Venue Name</th>
                    <th>Event Name</th>
                    <th>Category Name</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="venue : ${venues}" th:object="${venue}">
                        <td th:text="*{'#' + id}">Item #1</td>
                        <td th:text="*{venue_name}">Venue Name</td>
                        <td th:text="*{event_name}">Event Name</td>
                        <td th:text="*{cat_name}">Category Name</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>