<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body data-page="dashboard">
    <div class="ui grid container">

        <div class="ui main grid">

            <h1>jdbc content</h1>

            <table class="ui very basic striped celled table">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="venue : ${venues}" th:object="${venue}">
                    <td th:text="*{'#' + id}">Item #1</td>
                    <td th:text="*{name}">Venue Name</td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>